*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    background-color: rgba(120, 106, 156, 0.301);

}

#container{
    font-size: 2rem;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    width: 60%;
    margin-top: 5rem;
    background-color: rgba(149, 128, 151, 0.658)

}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: hsla(240, 100%, 61%, 0.596);
    border: none;
    color: rgba(250, 235, 215, 0.555);
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsla(240, 100%, 70%, 0.596);
}
button:active{
        background-color: hsla(240, 100%, 80%, 0.596);
}
input{
    font-size: 1.4rem;
    text-align: center;
    padding: 0.3rem;
    font-weight: bold;
}
#result{
    margin-top: 2rem;
    color: hwb(271 13% 55% / 0.856);
}
#images{
    margin-top: 1rem;
    background-color: aliceblue;
    padding: 2rem 1rem;
    border-radius: 2rem;

}